# Visual Studio 캐시 및 설정
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# 빌드 결과물 (컴파일된 파일들)
bin/
obj/

# 환경 설정 (비밀번호 포함 시 제외 권장 - Zero-Git Policy)
appsettings.json
appsettings.Development.json
.env
.env.*
secrets/


# 기타 시스템 파일
.DS_Store

# 빌드 및 배포 폴더
publish/
wwwroot/images/avatars/
*.md.tmp
리눅스 반영.md